body{
    .aside1{
        width: 15%;
        margin: 10px;
        .container{
            border-radius: 5px;
            padding: 13px;
            margin: 10px;
            .createacc{
                color: rgb( 59, 73, 223 );
                background-color: white;
                border-radius: 5px;
                border-color: rgb( 59, 73, 223 );
                justify-content: center;
                width: 100%;
                height: 40px;
                
            }
            .createacc:hover{
                background-color: rgb( 59, 73, 223 );
                color: white;
                text-decoration: underline;
            }
            .login{
                background-color: white;
                border-color: white;
                border-radius: 5px;
                justify-content: center;
                width: 100%;
                height: 40px;
                margin-top: 10px;
            }
            .login:hover{
                background-color: rgba(182, 188, 239, 0.694);
                text-decoration: underline;
            }
        }
        .aside1list{
            list-style: none;
            padding-left: 0;
            margin: 10px;
            li>a{
                text-decoration: none;
            }
            .home{
                list-style-image: url();
            }
            :hover{
                background-color: rgba(182, 188, 239, 0.694);
                text-decoration: underline;
            }
        }
        .other{
            margin: 10px;
            li>a{
                text-decoration: none;
            }
            .otherlist{
                list-style: none;
                padding-left: 0;
                :hover{
                    background-color: rgba(182, 188, 239, 0.694);
                    text-decoration: underline;
                }
            }
        }
        .hashtags{
            margin: 10px;
            .poplist{
                width: 100%;
                height: 450px;
            }
        }
        .community{
            border-radius: 5px;
            padding: 13px;
            margin: 10px;
            .modimg{
                width: 100%;
                height: 50%;
                border-radius: 5px;
            }
        }
        .information{
            margin: 10px;
        }
    }
}

