body{
    .mySearchContainer{
        margin-bottom: 6px;
        #inputBusqueda{
            border-radius: 5px;
            padding-left: 5px;
            margin-left: 10px;
            width: 100%;
        }
    }
}